.Button {
  border: none;
  outline: none;
  padding: 10px 13px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Button:hover {
  box-shadow: 0 1px 5px #c2c2c2;
}
