.Product-Card-Container {
  width: 200px !important;
  box-shadow: 0 0 1px #d9d9d9;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.Product-Card-Container:hover {
  box-shadow: 0 0 5px #b6b6b6;
}

.Product-Card-Container:hover .Product-Card-Image {
  transform: scale(1.2);
}

.Product-Card-Image {
  max-width: 100%;
  height: 250px;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.Product-Card-Favorite-Button {
  position: absolute;
  top: 8px;
  right: 8px;
  box-shadow: 1px 1px 3px #808080;
  width: 37px !important;
  height: 37px !important;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.Product-Card-Favorite-Button:hover {
  box-shadow: 1px 1px 5px #808080;
}

.Product-Card-Default-Image-Container {
  width: 100%;
  height: 250px;
}

.Product-Card-Default-Image {
  width: 50px;
}
