@import '~react-image-gallery/styles/css/image-gallery.css';

.Product-Detail-Container {
  border-radius: 10px;
  box-shadow: 1px 2px 3px #ccc;
  width: 80% !important;
  padding: 0 35px;
}

.Product-Detail-More-Description-Opacity {
  height: 20px;
  width: 100%;
  background: linear-gradient(#ffffffb9, #fffffff5, #fff);
  position: absolute;
  top: -20px;
}

.Product-Detail-More-Description {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.Product-Detail-Person {
  width: 45px !important;
  height: 45px !important;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Product-Detail-Similar-Container {
  overflow: auto;
  padding-bottom: 10px;
}

.Product-Detail-Similar-Container::-webkit-scrollbar {
  height: 7px;
  border-radius: 100px;
}

.Product-Detail-Similar-Container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.Product-Detail-Similar-Container::-webkit-scrollbar-thumb {
  background-color: #d462247e;
  border-radius: 10px;
  cursor: pointer !important;
}
