.Favorites-Sorting-Container {
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 0 0 1px #d4612499;
}

.Favorites-Empty-Image {
  width: 500px;
}

.Favorites-Empty-Button {
  border-radius: 8px;
}

.Favorites-Products-Container {
  overflow: auto;
  padding-bottom: 5px;
}

.Favorites-Products-Container::-webkit-scrollbar {
  height: 7px;
  border-radius: 100px;
}

.Favorites-Products-Container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.Favorites-Products-Container::-webkit-scrollbar-thumb {
  background-color: #d462247e;
  border-radius: 10px;
  cursor: pointer !important;
}
